@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"); */

@font-face {
  font-family: helveticaFont;
  src: url("../../assets/fonts/HelveticaNeue.ttf");
}
@font-face {
  font-family: helveticaFontBold;
  src: url("../../assets/fonts/Helvetica\ Neu\ Bold.ttf");
}
@font-face {
  font-family: helveticaFontMedium;
  src: url("../../assets/fonts/HelveticaNeue\ Medium.ttf");
}
@font-face {
  font-family: helveticaFontLight;
  src: url("../../assets/fonts/HelveticaNeue\ Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  /* text */
  --text-darkblack: #000000;
  --text-black: #161616;
  --text-gray: #818181;
  --text-orange: #fb5e4b;
  --text-darkorange: #ff4200;
  /* background */
  --bg-white: #ffffff;
  --bg-darkblue: #222ddc;
  --bg-blue: #0015ff;
  --bg-purple: #6b34ba;
  --bg-green: #36c942;
  --bg-orange: #d1783c;
  --bg-nav: #0a1e48;
}
a {
  color: inherit;
  text-decoration: none;
}
.hel {
  font-family: helveticaFont;
}
.helLight {
  font-family: helveticaFontLight;
}
.helMed {
  font-family: helveticaFontMedium;
}
.helBold {
  font-family: helveticaFontBold;
}
