.blogDetail {
  padding: 2rem 10vw;
  min-height: 75vh;
}
.blogDetail__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.blogDetail__header > p {
  font-size: 1.2rem;
  color: var(--text-gray);
}

.blogDetail > img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.blogDetail > p {
  font-size: 1.5rem;
  font-family: Poppins, "sans-serif";
}
