@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
  /* text */
  --text-darkblack: #000000;
  --text-black: #161616;
  --text-gray: #818181;
  --text-orange: #fb5e4b;
  /* background */
  --bg-white: #ffffff;
  --bg-darkblue: #222ddc;
  --bg-blue: #0015ff;
  --bg-purple: #6b34ba;
  --bg-green: #36c942;
  --bg-orange: #d1783c;
  --bg-nav: #0a1e48;
}

/* header.php */

/* Nav bar */
nav {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-nav);
  padding: 0 10vw;
  height: 15vh;
  color: var(--bg-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__title {
  font-size: 1.6rem;
}

.nav__title > span {
  color: var(--text-orange);
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 50%;
}

.nav__items > li > a {
  color: var(--bg-white);
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

.nav__items .fa-angle-down {
  margin-left: 5px;
}

/* main */

.all__blogs {
  padding: 2rem 15vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blogCard {
  width: 500px;
  height: 300px;
  border: 1px solid red;
}

/* Popular Blogs */

/* footer.php */
footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--primary-bgcolor);
  color: var(--primary-color);
}
